<div class="p-2 marg" style="background-color: black;">
    <div class="row">
        <h2 class="text-white">Hard Skills</h2>
    </div>
    <div class="row">
        <div class="text-center col-sm-12 col-md-4 col-lg-4 col-lg-2">
            <circle-progress
              [backgroundColor]="'white'"
              [percent]="58"
              [radius]="100"
              [imageSrc]="'../assets/Bootstrap.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits]="false"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="1"
              [outerStrokeColor]="'#00f'"
              [innerStrokeColor]="'#06f'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <button type="button" class="btn btn-success text-center">Saber Más</button>
        </div>
        <div class="text-center col-sm-12 col-md-4 col-lg-4 col-lg-2">
            <circle-progress
              [backgroundColor]="'white'"
              [percent]="86"
              [radius]="100"
              [imageSrc]="'../assets/html.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits]="false"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="1"
              [outerStrokeColor]="'#00f'"
              [innerStrokeColor]="'#06f'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <button type="button" class="btn btn-success text-center">Saber Más</button>

        </div>
        <div class="text-center col-sm-12 col-md-4 col-lg-4 col-lg-2">
            <circle-progress
            [backgroundColor]="'white'"
              [percent]="78"
              [radius]="100"
              [imageSrc]="'../assets/CSS.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits]="false"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="1"
              [outerStrokeColor]="'#00f'"
              [innerStrokeColor]="'#06f'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <button type="button" class="btn btn-success text-center">Saber Más</button>

        </div>
        <div class="text-center col-sm-12 col-md-4 col-lg-4 col-lg-2">
            <circle-progress
              [backgroundColor]="'white'"
              [percent]="22"
              [radius]="100"
              [imageSrc]="'../assets/js.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits]="false"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="1"
              [outerStrokeColor]="'#00f'"
              [innerStrokeColor]="'#06f'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <button type="button" class="btn btn-success text-center">Saber Más</button>

        </div>
        <div class="text-center col-sm-12 col-md-4 col-lg-4 col-lg-2">
            <circle-progress
              [backgroundColor]="'white'"
              [percent]="50"
              [radius]="100"
              [imageSrc]="'../assets/c.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits]="false"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="1"
              [outerStrokeColor]="'#00f'"
              [innerStrokeColor]="'#06f'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <button type="button" class="btn btn-success text-center">Saber Más</button>

        </div>
        <div class="text-center col-sm-12 col-md-4 col-lg-4 col-lg-2">
            <circle-progress
            [backgroundColor]="'white'"
              [percent]="50"
              [radius]="100"
              [imageSrc]="'../assets/.net.png'"
              [showImage]="true"
              [imageHeight]="100"
              [imageWidth]="100"
              [showUnits]="false"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="1"
              [outerStrokeColor]="'#00f'"
              [innerStrokeColor]="'#06f'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <button type="button" class="btn btn-success text-center">Saber Más</button>

        </div>
    </div>

</div>

