<div class="p-2 marg" style="background-color: black">
  <div class="row">
    <h2 class="text-white p-4">Proyectos</h2>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <p class="text-white p-2">
        Una empresa familiar para eventos y catering <br />
        Sobre ellos: <br />
        "Somos grupo de 4 amigos, con una pasión por la buena comida y con
        experiencia en el rubro gastronómico, que decidieron unir sus
        conocimientos para ofrecer un servicio integral para eventos.<br />

        Con el unico objetivo de que sean un invitado más de su propio evento y
        que puedan disfrutar mientras nosotros nos ocupamos de todo."
      </p>
      <h6 class="text-success p-2 fs-4">En proceso</h6>
      <p class="text-white">Realizado en framework:.net y lenguaje:c#</p>
    </div>
    <div class="col-sm-12 col-lg-6">
      <!-- Button trigger modal -->
      <img
        src="../../../assets/Alioli.png "
        class="img-fluid"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        style="box-shadow: 0px 0px 10px white;"
      />

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body" style="height: 100%">
              <img src="../../../assets/Alioli.png " class="img-fluid" />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
