<div class="row" style="background-color: black;">
    <h1 class="text-white">Experiencia Laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/nuevaexp" *ngIf="isLogged"> Nueva Experiencia</button>
    </div>
    
    <table class="table">
        <tbody>
            <tr *ngFor= "let Experiencia of exper">
                <td class="col-lg-5 col-md-5 col-sm-12 text-white p-4" >{{Experiencia.nombreE}}</td>
                <td class="col-lg-5 col-md-5 col-sm-12 text-white p-4">{{Experiencia.descripcionE}}</td>
                <td class="col-lg-1 col-md-1 col-sm-12 text-white" *ngIf="isLogged"><button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pencil"></i>Editar</button></td>
                <td class="col-lg-1 col-md-1 col-sm-12 text-white" *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Experiencia.id)"><i class="bi bi-trash3-fill"></i>Borrar</button></td>
            </tr>
        </tbody>
    </table>
    <!--
    <div class="row">
        <div class="col">
            <hr>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi accusamus repudiandae qui laboriosam, officia quasi illum fuga dicta totam commodi cumque incidunt, aspernatur quis alias beatae iusto odio saepe iste!</p>    
            <hr>
        </div>
    </div>-->
</div>

