<div class="row" style="background-color: black">
  <h1 class="text-white">Educación</h1>
</div>

  <div class="row" style="background-color: black">
    
    <div class="col-4">
      
      <h2 class="text-white fs-5">Curso</h2>

    </div>
    <div class="col-8">

      <h2>YoProgramo</h2>

    </div>
    <hr>
  </div>
  
  <div class="row" style="background-color: black">

    <div class="col-lg-4">

      <h2 class="text-white fs-5">Secundaria</h2>

    </div>
    <div class="col-lg-8">

        <h2>IPET 418</h2>

    </div>
    <hr>
  </div>

  <div class="row" style="background-color: black">

    <div class="col-lg-4">

      <h3 class="text-white fs-5">Primaria</h3>

    </div>
    <div class="col-lg-8">

        <h2>INMACULADA CONCEPCION DE MARIA </h2>

    </div>
    <hr>
  </div>

